/*
File Name: palette.css
Date: 6/14/18 - revised
Programmer: Mario LoPriore
*/
body {
  font-size: 16px;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
body p,
body small,
body em {
  font-family: 'Faustina', serif;
}
body .hero {
  position: relative;
  width: 100%;
  margin: 0;
}
body .hero picture img {
  display: block;
  width: 100%;
  height: auto;
}
body .header-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .header-text h1 {
  color: #000;
  font-size: 3em;
  font-weight: 700;
  position: absolute;
  text-shadow: 2px 3px #ffffff80;
}
body nav {
  grid-area: nav;
  background-color: #c44412;
}
body nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .2rem;
}
body nav ul li {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  padding: .5rem 0;
}
body main h2 {
  font-size: 1.7rem;
  padding: 2rem;
  text-align: center;
}
body main p {
  line-height: 1.2;
  padding: 1rem 2rem;
}
body main blockquote {
  background-color: #f3f3f3;
  border-left: 3px solid #c44412;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.3;
  margin: .5rem 2rem;
  padding: 1rem 3rem;
}
body aside {
  grid-area: side;
  background-color: #f2f2f280;
}
body aside h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.7rem;
  font-style: italic;
  font-weight: 500;
  padding: 2rem;
}
body aside p {
  line-height: 1.6;
  font-weight: 700;
  padding: 1rem;
}
@media (min-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "nav nav" "main side";
  }
  nav ul {
    flex-direction: row;
    justify-content: space-around;
  }
}
